<!DOCTYPE html>
<html ng-app="myModule">
<script src="angular.min.js"></script>
<script src="Script.js"></script>
<link href="Styles.css" rel="stylesheet" />
<body>

  <div ng-controller="myController">
    <table>
      <thread>
        <tr>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          
        </tr>
      </thread>
      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{employee.name | uppercase}} </td>
          <td>{{employee.dataOfBirth | date:"dd/MM/yyyy"}} </td>
          <td>{{employee.gender | lowercase}} </td>
        </tr>
      </tbody>
    </table>


  </div>





</body>
</html>
